.anime{
    text-align: center;
    padding: 32px;
}
.anime h3{
    font-size: 32px;
    border-bottom: solid 4px;
    display: inline-block;
    padding-bottom: 8px;
}
.anime .personagens{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}